.root {
    -fx-background-color: black;
    background-color: black;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0;
    opacity: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    max-width: 0;
    -fx-min-width: 0;
    min-width: 0;
}